//google font links
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// theme customization
$font-family-sans-serif:'Poppins', sans-serif;

//imported bootstrap from node module
@import "../node_modules/bootstrap/scss/bootstrap";


// custom css code

.li-bar{
  width: 1px;
  background-color: #55555563;
  height: 1rem;
  align-self: center;
}

.nav-icon{
  font-size: 1.2rem;
  color: darkgrey;
}

.custom-dropdown{
  position: relative;
  ul{
    display: none;
    min-width: 100px;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 /30%);
    padding: 1rem;
    margin-top: 0.5rem;
  }
  &:hover{
    ul{
      display: block;
    }
  }
}

.collectionNav{
  position: relative;
  .dropnav{
    position: absolute;
    min-width: 500px;
    justify-content: space-between;
    z-index: 999999;
    background-color: #f6f6f6;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 /30%);
    padding: 1rem 1rem 0 1rem;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0.5rem;
    transform: scaleY(0);
    transform-origin: top;
  }
  .down{
    transition: .5s;
  }
  &:hover{
    .dropnav{
      visibility: visible;
      transform: scaleY(1);
    }
    .down{
      transform: rotate(180deg);
    }
  }
}


#main-carousel{
  .carousel-inner{
    height: 500px;
  }
  .carousel-control-prev{
    left: -15rem;
  } 
  .carousel-control-next{
    right: -15rem;
  }
  .carousel-control-prev,.carousel-control-next{
    filter: invert(100%);
  }
  .carousel-item{
    height: 100%;
    background: #f6f6f6;
  }
  .inner-content{
    align-items: center;
    padding: 1rem;
  }
}